@import "tailwindcss";

@theme light {
  --color-white: #ffffff;
  --color-back: #000000;
  --color-primary: #9B7B14;
  --color-gray:  #d9d9db ;
  --color-bermuda: #78dcca;
  --color-gray-login: #212121;
  --font-poppins: Poppins, sans-serif;
}


